@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Fira Sans, sans-serif;
    color: #444647;
    background-image: url(../css/images/background-image.jpg);
}
/* heading and logo */
#navigation {
    background-color: #7F8386;
    font-size: 120%;
    padding-top: 29px;
    text-align: center;
    height: 58px;
}

#navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#navigation a {
    text-decoration: none;
    color: #D9D9D9;
}

#navigation a:hover {
    border-bottom: 1px solid #D9D9D9;
}

.in-use {
    border-bottom: 1px solid #D9D9D9;
}

h1, h2 {
    font-family: Montserrat, sans-serif;
    color: #33636A;
}
.logo {
    font-size: 400%;
    text-align: center;
    margin-top: 43px;
}

#quote {
    margin-top: 70px;
    text-align: center;
}

/* main images */

#main-images {
    margin-top: 70px;
    height: 440px;
}

#main-left {
    position: absolute;
    width: 595px;
    height: 440px;
    left: 120px;
    border-radius: 35px;
}

#main-right {
    position: absolute;
    width: 595px;
    height: 440px;
    right: 120px;
    border-radius: 35px;
}

/* who we are */

#who-we-are {
    margin-top: 60px;
    height: 440px;
}

#left-about {
    width: 380px;
    float: left;
    margin-left: 120px;
    padding-top: 60px;
}

#right-about {
    width: 380px;
    float: right;
    padding-top: 60px;
    margin-right: 120px;
    text-align: right;
}

#center-about {
    padding: 40px;
    width: 350px;
    margin: 0 auto;
}
hr {
    margin: 5px 0;
}

#circle-image {
    height: 350px;
    width: 350px;
    background: url(../css/images/circle-image.jpg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
}

/* top picks */

#top-videos {
    margin-top: 60px;
    height: 440px;
}

#left-video {
    padding-top: 60px;
    position: absolute;
    left: 120px;
}

#right-video {
    padding-top: 60px;
    position: absolute;
    right: 120px;
}

/* footer */

footer {
    height: 130px;
    margin-top: 70px;
    background-color: #7F8386;
}

.social-networks {
    float: left;
    margin-left: 438px;
    letter-spacing: 100px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    padding-top: 48px;
    color: #D9D9D9;
}